<div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 class="page-title">Login</h1>
        <form [formGroup]="loginForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email"
                   class="form-control"
                   formControlName="email">
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
                   class="form-control"
                   formControlName ="password">
          </div>
          
          <button
          (click)=onSubmit()
          type="submit" 
          class="btn btn-warning"
          >Sign In</button>
          <button (click)=goToTwitter()
          class="btn btn-info">Sign in with twitter</button>
        </form>
      </div>
    </div>
</div>
